.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}
.postit{
    background-color: aquamarine;
    padding: 20px;
    margin: 20px;
}

.grid div:nth-child(even) {
    background-color: blue;
    padding: 1em;
     transform: rotate(5deg);
}

.grid div:nth-child(odd) {
    background-color: red;
    padding: 1em;
     transform: rotate(1deg);
}

.grid div:nth-child(2n) {
    background-color: aquamarine;
    padding: 1em;
    transform: rotate(3deg);
}

.grid div:nth-child(3n) {
    background-color: green;
    padding: 1em;
        transform: rotate(-1deg);
}
